:root {
    /* Neutral */
    --neutral-950: #0e1218;
    --neutral-900: #191e25;
    --neutral-800: #232530;
    --neutral-700: #2a3038;
    --neutral-600: #525866;
    --neutral-500: #717784;
    --neutral-400: #a9a9ae;
    --neutral-300: #cacfd8;
    --neutral-200: #e0e4ea;
    --neutral-100: #f3f5f8;
    --neutral-50:  #f5f7fa;
    --neutral-0:   #ffffff;
  
    /* Blue */
    --blue-700: #2547d0;
    --blue-500: #335cff;
    --blue-50:  #ebf1ff;
  
    /* Green */
    --green-500: #21c16b;
    --green-100: #dff8e9;
  
    /* Red */
    --red-500: #fb3848;
    --red-100: #ffd5d8;
}

:root {
    /* Inter font family */
    --font-inter-regular: 'Inter-Regular';
    --font-inter-medium: 'Inter-Medium';
    --font-inter-semibold: 'Inter-SemiBold';
    --font-inter-bold: 'Inter-Bold';
  
    /* Noto Serif font family */
    --font-notoserif-regular: 'NotoSerif-Regular';
    --font-notoserif-medium: 'NotoSerif-Medium';
    --font-notoserif-semibold: 'NotoSerif-SemiBold';
    --font-notoserif-bold: 'NotoSerif-Bold';
  
    /* Source Code Pro font family */
    --font-sourcecodepro-regular: 'SourceCodePro-Regular';
    --font-sourcecodepro-medium: 'SourceCodePro-Medium';
    --font-sourcecodepro-semibold: 'SourceCodePro-SemiBold';
    --font-sourcecodepro-bold: 'SourceCodePro-Bold';
}
  
  