:root {
  /* Neutral */
  --neutral-950: #0e1218;
  --neutral-900: #191e25;
  --neutral-800: #232530;
  --neutral-700: #2a3038;
  --neutral-600: #525866;
  --neutral-500: #717784;
  --neutral-400: #a9a9ae;
  --neutral-300: #cacfd8;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --neutral-0: #ffffff;

  /* Blue */
  --blue-700: #2547d0;
  --blue-500: #335cff;
  --blue-50: #ebf1ff;

  /* Green */
  --green-500: #21c16b;
  --green-100: #dff8e9;

  /* Red */
  --red-500: #fb3848;
  --red-100: #ffd5d8;
}

:root {
  /* Inter font family */
  --font-inter-regular: 'Inter-Regular';
  --font-inter-medium: 'Inter-Medium';
  --font-inter-semibold: 'Inter-SemiBold';
  --font-inter-bold: 'Inter-Bold';

  /* Noto Serif font family */
  --font-notoserif-regular: 'NotoSerif-Regular';
  --font-notoserif-medium: 'NotoSerif-Medium';
  --font-notoserif-semibold: 'NotoSerif-SemiBold';
  --font-notoserif-bold: 'NotoSerif-Bold';

  /* Source Code Pro font family */
  --font-sourcecodepro-regular: 'SourceCodePro-Regular';
  --font-sourcecodepro-medium: 'SourceCodePro-Medium';
  --font-sourcecodepro-semibold: 'SourceCodePro-SemiBold';
  --font-sourcecodepro-bold: 'SourceCodePro-Bold';
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body,
html {
  background-color: var(--neutral-800);
  overflow: hidden;
  font-family: 'Inter';
  color: white;
}

button {
  color: white;
}

textarea {
  color: white;
}

.openNoteContainer {
  /*Change with Javascript*/
  display: none;
  flex-direction: column;
}

.allNotesContainer {
  display: none;
}

.titleContainer {
  display: none;
}

.newNoteContainer {
  display: none;
}

.openNotesContainer {
  display: none;
}

.allArchivedNotesContainer {
  display: none;
}

.archivedNotesSubtitle {
  display: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.generalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  padding: 16px 16px 0 16px;
  background-color: var(--neutral-950);
  border-radius: 24px 24px 0 0;
}

footer {
  display: flex;
  padding: 12px 32px;
  justify-content: space-between;
  background-color: var(--neutral-950);
  width: 100%;
  position: sticky;
  bottom: 0;
  box-shadow: 0px -4px 10px -2px rgba(42, 42, 43, 0.9);
}

.logoContainer,
.headerContainer {
  display: flex;
  gap: 10px;
}

header {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 13px 16px;
  background-color: var(--neutral-800);
}

.logoText {
  line-height: 1;
  font-size: 23px;
  font-family: Pacifico;
}

.footerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 19.1px;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}

.footerButton:hover {
  background: var(--neutral-700);
  border-radius: 4px;
}

.footerButton.lightMode:hover {
  background: var(--neutral-500);
  border-radius: 4px;
}

.spacer {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--neutral-800);
}

.titleText,
.openSettingTitle {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5px;
}

.allNotesContainer,
.allArchivedNotesContainer {
  flex-direction: column;
  height: 100%;
  padding: 8px 8px 0 8px;
  margin-top: 24px;
  overflow-y: auto;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 4.5px;
  gap: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  cursor: pointer;
}

.mainNewNoteButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12%;
  right: 6%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--blue-500);
  border: none;
  cursor: pointer;
}

.noteTags {
  display: flex;
  gap: 4px;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--neutral-600);
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.2px;
}

h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.3px;
}

time {
  font-weight: 200;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}

/*---------------------------------------------------------------------------------Note Detail Screen--------------------------------------------------------------*/

.openNotesContainer {
  position: absolut;
  top: 0%;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.openNoteHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: unset;
  padding: 0 0 12px 0;
}

.newNoteHeader .backButton {
  margin-right: auto;
}

.cancelButton {
  margin-right: 16px;
}

.newNoteHeader {
  background-color: unset;
  padding: 0px 16px 13px 0;
}

.backButton,
.deleteButton,
.cancelButton,
.saveButton,
.archiveButton,
.restore,
.backToSettingsButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.saveButton:disabled,
.archiveButton:disabled {
  cursor: not-allowed;
}

.noteDetailSaveButton,
.saveButton {
  color: var(--blue-500);
}

.openNoteTitleContainer {
  margin-top: 12px;
}

.openNote {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
}

.openNoteTitle,
.openSettingTitle {
  /*H2*/
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.openNoteTagsAndDateContainer {
  display: flex;
  flex-direction: column;
  gap: 15.5px;
}

.openNoteTagsContainer,
.openNoteDateContainer,
.newNoteTopContainer,
.newNoteBottomContainer, 
.statusContainer {
  display: flex;
}

.openNoteTagsContainer span,
.openNoteDateContainer span,
.openNoteTagTextContainer,
.openNoteDateTextContainer,
.newNoteTopContainer span,
.newNoteBottomContainer span,
.newNoteBottomContainer p, 
.statusContainer span, 
.statusContainer div {
  display: flex;
  gap: 6px;
  font-weight: 200;
}

.openNoteTagsContainer {
  gap: 96px;
}

.statusContainer {
  gap: 86px;
}

.openNoteDateContainer {
  gap: 49px;
}

.openNoteTextAreaContainer,
.newNoteTextContentContainer {
  display: flex;
  height: 100%;
}

.openNoteTextAreaContainer textarea,
.newNoteTextContentContainer textarea {
  /*Use Javascript to make it work*/
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  text-align: left;
  vertical-align: top;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: auto;
}

.openNoteTextAreaContainer textarea:focus {
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

/*---------------------------------------------------------------------------------New Note Screen--------------------------------------------------------------*/

.newNoteContainer {
  /*Change with Javascript*/
  flex-direction: column;
}

.newNoteTitlecontainer input,
.newNoteInfoContainer input {
  all: unset;
}

.newNoteTopContainer,
.newNoteBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newNoteTagsTextContainer input {
  all: unset;
  padding: 0px 0px 20px 0px;
}

.newNoteTagsTextContainer .newTagsInput::placeholder {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.5px;
  font-weight: 300;
  white-space: pre-line;
  text-align: top;
}

.newNoteTitlecontainer,
.backToSettingsButton {
  height: auto;
  margin-bottom: 12px;
}

.backToSettingsButton {
  gap: 8px;
}

.newNoteTitlecontainer .newTitleInput {
  height: 29px;
  font-size: 24px;
}

.newNoteTitlecontainer .newTitleInput::placeholder {
  font-size: 24px;
  font-weight: 700;
}

.newNoteDetailsContainer {
  margin: 12px 0 12px 0;
}

.newNoteTextContentContainer {
  margin-top: 12px;
}

.newNoteContainer {
  height: 100%;
}

/*---------------------------------------------------------------------------------Settings Screen--------------------------------------------------------------*/

ul {
  width: 100%;
}

.settingsSpacer {
  margin: 17.5px 0 17.5px 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--neutral-800);
}

.settingsUl li {
  background: none;
  border: none;
  background-color: unset;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

li.lightMode:hover {
    border: 2px solid var(--neutral-500);
}

.settingsButton {
  all: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 400;
  width: 100%;
}

.settingsButton:hover {
  border: 2px solid var(--neutral-700);
  border-radius: 8px;
}

.settingsButton.lightMode:hover {
    border: none;
    
}

.settingsOptionText {
  margin-right: 100px;
  width: 100%;
}

.stitleContainer {
  display: flex;
  margin-bottom: 24px;
}

.settingsMenu {
  display: flex;
}

.openSettingContainer {
  display: none;
  flex-direction: column;
}

.openSettingHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.openSettingSubtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.2px;
  margin-bottom: 24px;
}

.optionsContainer,
.labelsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 120%;
  letter-spacing: -0.2px;
  padding: 16px;
  border-radius: 12px;
  border: 2px solid var(--neutral-800);
  cursor: pointer;
}

.option:hover {
  background-color: var(--neutral-700);
}

.textContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.top {
  font-size: 14px;
  font-weight: 500;
}

.bottom {
  font-size: 12px;
  font-weight: 400;
}

.imgContainer {
  display: flex;
  background-color: var(--neutral-950);
  padding: 8px;
  border-radius: 12px;
  border: 2px solid var(--neutral-800);
}

.optionsMainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 132px;
  height: 41px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -0.2px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--blue-700);
}

.optionsMainButton:hover {
  background-color: var(--blue-500);
}

/*---------------------------------------------------------------------------------Archived Notes Screen--------------------------------------------------------------*/

.archivedNotesContainer {
  margin: 0%;
  position: absolute;
  top: 0%;
}

.archivedNotesSubtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.2px;
  margin-top: 16px;
}

/*-------------------------------------------------------------------------------Light Mode--------------------------------------------------------------*/


.generalContainer.lightMode, 
header.lightMode, 
.mainContainer.lightMode {
    background-color: white;
}

body.lightMode, 
.backButtonText.lightMode {
    color: black;
}

.imgContainer.lightMode {
    background-color: white;
}

.spacer.lightMode {
    background-color: rgba(0, 0, 0, 0.3);
}

li.lightMode {
    background-color: var(--neutral-200);
}
 
/*-------------------------------------------------------------------------------Modal--------------------------------------------------------------*/

.layout {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  width: 343px;
  height: 193px;
  border-radius: 12px;
  background-color: var(--neutral-700);
}

.modalTopContainer {
  display: flex;
  gap: 16px;
  padding: 20px;
}

.modalTextContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 247px;
}

.modalTextTop {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.3px;
}

.modalTextBottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.2px;
}

.modalImgContainer {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--neutral-600);
}

.modalBottomContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: right;
  gap: 16px;
}

.modalCancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 41px;
  border-radius: 8px;
  background-color: var(--neutral-500);
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.modalCancelButton:hover {
  background-color: var(--neutral-600);
}

.modalDeleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 41px;
  border-radius: 8px;
  background-color: var(--red-500);
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.modalArchiveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 41px;
  border-radius: 8px;
  background-color: var(--blue-500);
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.modalArchiveButton:hover {
  background-color: var(--blue-700);
}