:root {
  /* Neutral */
  --neutral-950: #0e1218;
  --neutral-900: #191e25;
  --neutral-800: #232530;
  --neutral-700: #2a3038;
  --neutral-600: #525866;
  --neutral-500: #717784;
  --neutral-400: #a9a9ae;
  --neutral-300: #cacfd8;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --neutral-0: #ffffff;

  /* Blue */
  --blue-700: #2547d0;
  --blue-500: #335cff;
  --blue-50: #ebf1ff;

  /* Green */
  --green-500: #21c16b;
  --green-100: #dff8e9;

  /* Red */
  --red-500: #fb3848;
  --red-100: #ffd5d8;
}

:root {
  /* Inter font family */
  --font-inter-regular: "Inter-Regular";
  --font-inter-medium: "Inter-Medium";
  --font-inter-semibold: "Inter-SemiBold";
  --font-inter-bold: "Inter-Bold";

  /* Noto Serif font family */
  --font-notoserif-regular: "NotoSerif-Regular";
  --font-notoserif-medium: "NotoSerif-Medium";
  --font-notoserif-semibold: "NotoSerif-SemiBold";
  --font-notoserif-bold: "NotoSerif-Bold";

  /* Source Code Pro font family */
  --font-sourcecodepro-regular: "SourceCodePro-Regular";
  --font-sourcecodepro-medium: "SourceCodePro-Medium";
  --font-sourcecodepro-semibold: "SourceCodePro-SemiBold";
  --font-sourcecodepro-bold: "SourceCodePro-Bold";
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body,
html {
  background-color: var(--neutral-800);
  overflow: hidden;
  font-family: "Inter";
  color: white;
  /* Fix for mobile viewport height issues */
  height: 100%;
  width: 100%;
  position: fixed;
}

button {
  color: white;
}

textarea {
  color: white;
}

.openNoteContainer {
  display: none;
  flex-direction: column;
  height: 100%;
}

.allNotesContainer {
  display: none;
}

.titleContainer {
  display: none;
  gap: 1rem;
}

.searchEngineContainer {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

#searchLabel {
  position: relative;
}

#searchImg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.searchEngine {
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--neutral-600);
  background: none;
  padding: 1rem 0.75rem 1rem 3.125rem;
  
  color: white;
}

.subtitleSearch {
  font-size: 0.875rem;
  line-height: 130%;
  letter-spacing: -0.0125rem;
  font-weight: 300;
}

.newNoteContainer {
  display: none;
}

.openNotesContainer {
  display: none;
}

.allArchivedNotesContainer {
  display: none;
}

.archivedNotesSubtitle {
  display: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start; 
  align-items: center;
  overflow: hidden;
}

.generalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: hidden;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--neutral-950);
  border-radius: 1.5rem 1.5rem 0 0;
}

footer {
  display: flex;
  padding: 0.75rem 2rem;
  justify-content: space-between;
  background-color: var(--neutral-950);
  width: 100%;
  position: sticky;
  bottom: 0;
  box-shadow: 0rem -0.25rem 0.625rem -0.125rem rgba(42, 42, 43, 0.9);
  z-index: 10;
}

.logoContainer,
.headerContainer {
  display: flex;
  gap: 0.625rem;
}

header {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 0.8125rem 1rem;
  background-color: var(--neutral-800);
}

.logoText {
  line-height: 1;
  font-size: 1.4375rem;
  font-family: Pacifico;
}

.footerButton, 
.settingsFooterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1.1938rem;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}

.footerButton:hover,
.settingsFooterButton:hover {
  background: var(--neutral-700);
  border-radius: 0.25rem;
}

.footerButton.lightMode:hover, 
.settingsFooterButton.lightMode:hover {
  background: var(--neutral-500);
  border-radius: 0.25rem;
}

.spacer {
  display: block;
  width: 100%;
  height: 0.0625rem;
  background: var(--neutral-800);
}

.titleText,
.openSettingTitle {
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: -0.0313rem;
}

.allNotesContainer,
.allArchivedNotesContainer {
  flex-direction: column;
  height: calc(100% - 1.5rem); 
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-top: 1.5rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 0.2813rem;
  gap: 0.75rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.04);
  cursor: pointer;
}

.mainNewNoteButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12%;
  right: 6%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--blue-500);
  border: none;
  cursor: pointer;
  z-index: 5;
  box-shadow: -0.375rem 0rem 0.375rem -0.1875rem rgba(42, 42, 43, 0.9);
}

.mainNewNoteButton:hover {
  background-color: var(--blue-700);
}

.noteTags {
  display: flex;
  gap: 0.25rem;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--neutral-600);
  padding: 0.125rem 0.375rem;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.0125rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.0187rem;
}

time {
  font-weight: 200;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  margin-bottom: 0.75rem;
}

/*---------------------------------------------------------------------------------Note Detail Screen--------------------------------------------------------------*/

.openNotesContainer {
  position: absolute;
  top: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.openNoteHeader {
  display: flex;
  align-items: center;
  background-color: unset;
  padding: 0 0 0.75rem 0;
  margin-top: 1rem;
}

.newNoteHeader .backButton {
  margin-right: auto;
}

.cancelButton {
  margin-right: 1rem;
}

.newNoteHeader {
  background-color: unset;
  padding: 0rem 1rem 0.8125rem 0;
}

.backButton {
  margin-right: 4.4375rem;
}

.deleteButton, 
.archiveButton, 
.restore {
  margin-right: 1rem;
}

.backButton,
.deleteButton,
.cancelButton,
.saveButton,
.archiveButton,
.restore,
.backToSettingsButton, 
.goBackToTags {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: -0.0125rem;
  cursor: pointer;
}

.saveButton:disabled,
.archiveButton:disabled {
  cursor: not-allowed;
}

.noteDetailSaveButton,
.saveButton {
  color: var(--blue-500);
}

.openNoteTitleContainer {
  margin-top: 0.75rem;
}

.openNote {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.75rem;
  overflow: hidden;
}

.openNoteTitle,
.openSettingTitle {
  /*H2*/
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.0313rem;
}

.openNoteTagsAndDateContainer {
  display: flex;
  flex-direction: column;
  gap: 0.9688rem;
}

.openNoteTagsContainer,
.openNoteDateContainer,
.newNoteTopContainer,
.newNoteBottomContainer,
.statusContainer {
  display: flex;
}

.openNoteTagsContainer span,
.openNoteDateContainer span,
.openNoteTagTextContainer,
.openNoteDateTextContainer,
.newNoteTopContainer span,
.newNoteBottomContainer span,
.newNoteBottomContainer p,
.statusContainer span,
.statusContainer div {
  display: flex;
  gap: 0.375rem;
  font-weight: 200;
}

.openNoteTagsContainer {
  gap: 6rem;
}

.statusContainer {
  gap: 5.375rem;
}

.openNoteDateContainer {
  gap: 3.0625rem;
}

.openNoteTextAreaContainer,
.newNoteTextContentContainer {
  display: flex;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.openNoteTextAreaContainer textarea,
.newNoteTextContentContainer textarea {
  /*Use Javascript to make it work*/
  width: 100%;
  height: 100%;
  min-height: 18.75rem;
  padding: 0rem;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  text-align: left;
  vertical-align: top;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: auto;
}

.openNoteTextAreaContainer textarea:focus {
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

/*---------------------------------------------------------------------------------New Note Screen--------------------------------------------------------------*/

.newNoteContainer {
  /*Change with Javascript*/
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.newNoteTitlecontainer input,
.newNoteInfoContainer input {
  all: unset;
}

.newNoteTopContainer,
.newNoteBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newNoteTagsTextContainer input {
  all: unset;
  padding: 0rem 0rem 1.25rem 0rem;
}

.newNoteTagsTextContainer .newTagsInput::placeholder {
  font-size: 0.875rem;
  line-height: 130%;
  letter-spacing: -0.0313rem;
  font-weight: 300;
  white-space: pre-line;
  text-align: top;
}

.newNoteTitlecontainer,
.backToSettingsButton {
  height: auto;
  margin-bottom: 0.75rem;
}

.backToSettingsButton {
  gap: 0.5rem;
}

.newNoteTitlecontainer .newTitleInput {
  height: 1.8125rem;
  font-size: 1.5rem;
}

.newNoteTitlecontainer .newTitleInput::placeholder {
  font-size: 1.5rem;
  font-weight: 700;
}

.newNoteDetailsContainer {
  margin: 0.75rem 0 0.75rem 0;
}

.newNoteTextContentContainer {
  margin-top: 0.75rem;
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*---------------------------------------------------------------------------------Settings Screen--------------------------------------------------------------*/

ul {
  width: 100%;
}

.settingsSpacer {
  margin: 1.0938rem 0 1.0938rem 0;
  display: block;
  width: 100%;
  height: 0.0625rem;
  background: var(--neutral-800);
}

.settingsUl li {
  background: none;
  border: none;
  background-color: unset;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25rem;
  width: 100%;
}

li.lightMode:hover {
  border: 0.125rem solid var(--neutral-500);
}

.settingsButton {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  width: 100%;
}

.settingsButton:hover {
  border: 0.125rem solid var(--neutral-700);
  border-radius: 0.5rem;
}

.settingsButton.lightMode:hover {
  border: none;
}

.settingsOptionText {
  margin-right: 6.25rem;
  width: 100%;
}

.stitleContainer {
  display: flex;
  margin-bottom: 1.5rem;
}

.settingsMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.openSettingContainer {
  display: none;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.openSettingHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.openSettingSubtitle {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.0125rem;
  margin-bottom: 1.5rem;
}

.optionsContainer,
.labelsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 0.125rem solid var(--neutral-800);
  cursor: pointer;
}

.option:hover {
  background-color: var(--neutral-700);
}

.textContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.top {
  font-size: 0.875rem;
  font-weight: 500;
}

.bottom {
  font-size: 0.75rem;
  font-weight: 400;
}

.imgContainer {
  display: flex;
  background-color: var(--neutral-950);
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 0.125rem solid var(--neutral-800);
}

.optionsMainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 8.25rem;
  height: 2.5625rem;
  font-size: 0.875rem;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -0.0125rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--blue-700);
}

.optionsMainButton:hover {
  background-color: var(--blue-500);
}

/*---------------------------------------------------------------------------------Archived Notes Screen--------------------------------------------------------------*/

.archivedNotesContainer {
  margin: 0%;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.archivedNotesSubtitle {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.0125rem;
  margin-top: 1rem;
}

/*-------------------------------------------------------------------------------Light Mode--------------------------------------------------------------*/

.generalContainer.lightMode,
header.lightMode,
.mainContainer.lightMode {
  background-color: white;
}

body.lightMode,
.backButtonText.lightMode {
  color: black;
}

.imgContainer.lightMode {
  background-color: white;
}

.spacer.lightMode {
  background-color: rgba(0, 0, 0, 0.3);
}

li.lightMode {
  background-color: var(--neutral-200);
}

/*-------------------------------------------------------------------------------Modal--------------------------------------------------------------*/

.layout {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  width: 21.4375rem;
  height: 12.0625rem;
  border-radius: 0.75rem;
  background-color: var(--neutral-700);
}

.modalTopContainer {
  display: flex;
  gap: 1rem;
  padding: 1.25rem;
}

.modalTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  width: 15.4375rem;
}

.modalTextTop {
  font-size: 1rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.0187rem;
}

.modalTextBottom {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.0125rem;
}

.modalImgContainer {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--neutral-600);
}

.modalBottomContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  justify-content: right;
  gap: 1rem;
}

.modalCancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.875rem;
  height: 2.5625rem;
  border-radius: 0.5rem;
  background-color: var(--neutral-500);
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  cursor: pointer;
}

.modalCancelButton:hover {
  background-color: var(--neutral-600);
}

.modalDeleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.875rem;
  height: 2.5625rem;
  border-radius: 0.5rem;
  background-color: var(--red-500);
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  cursor: pointer;
}

.modalArchiveButton, 
.modalRestoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.3125rem;
  height: 2.5625rem;
  border-radius: 0.5rem;
  background-color: var(--blue-500);
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  cursor: pointer;
}

.modalArchiveButton:hover {
  background-color: var(--blue-700);
}

@supports (-webkit-touch-callout: none) {
  .mainContainer {
    height: -webkit-fill-available;
  }

  body,
  html {
    height: -webkit-fill-available;
  }
}

/*-------------------------------------------------------------------------------Tag List--------------------------------------------------------------*/

.tagsListContainer {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-top: 1rem;
}

.tagElement {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  padding: 0.875rem;
  border: none;
  border-bottom: 0.0625rem solid var(--neutral-800);
  border-radius: 0rem;
  background: none;
  cursor: pointer;
}

.tagElement:hover {
  box-shadow: -0.375rem 0rem 0.375rem -0.1875rem rgba(42, 42, 43, 0.9);
  color: #335cff;
}
/*-------------------------------------------------------------------------------Tag List--------------------------------------------------------------*/

.toastContainer {
  display: flex;
  align-items: center;
  background-color: var(--neutral-700);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1.5625rem;
  right: 1.5625rem;
  transition: all 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

.toastContainer.active {
  display: flex;
  opacity: 1;
  animation: glowEffect 0.5s ease;
}

@keyframes glowEffect {
  0% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0);
  }
  50% {
    box-shadow: 0 0 0.625rem rgba(0, 123, 255, 0.7), 0 0 1.25rem rgba(0, 123, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0);
  }
}

.toastContainer .src {
  margin-right: 0.5rem;
}

.toastContainer p.color {
  margin-right: 0.625rem;
}

#toastX {
  cursor: pointer;
}

.footerButton svg {
  filter: brightness(100%);
  transition: filter 0.2s;
}

.footerButton:hover svg {
  filter: brightness(0) saturate(100%) invert(22%) sepia(97%) saturate(3435%) hue-rotate(206deg) brightness(93%) contrast(94%);
}